/* CSS Document */

@charset "utf-8";
@font-face {
	font-family: onely sans;
	src: url(OnelySans.otf);
}

:root {
	--base-color: #000000;
	--text-color: #ffffff;
	--primary-color: #080808;
	--secondary-color: #eeeeee;
	--primary-opacity: hsla(0, 0%, 3%, 0.9);
}

/* body style */
* {
	top:0;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	top:0;
	background-color: var(--base-color);
}

h1, h2, h3 {
	font-family: 'Onely Sans';
	color: var(--text-color);
	text-transform: uppercase;
	letter-spacing: 3px;
}

p {
	text-decoration: none;
	color: var(--text-color);
	font-family: "Stack Sans Text";
	letter-spacing: 0.5px;
}

/* grid container */
.grid-container {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 180px auto 240px;
	grid-template-areas: 
	"nav"
	"price"
	"foot";
	gap:0;
	justify-items: center;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat; /* Prevents the image from tiling */
  	background-size: cover; /* Ensures the image covers the entire background */
  	background-position: center; /* Centers the image */
  	background-attachment: fixed;
}


/* navigation */
nav {
	grid-area: "nav";
	display:flex;
	width:min(1600px, 100%);
	padding: 2em 3em;
	z-index: 1000;
	position: sticky;
	align-items: center;
	justify-content: space-between;
}

.brand {
	font-size: 1.5rem;
	text-align: left;
}

.navbar-links ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	gap: 0 2em;
}

.navbar-links a {
	text-decoration: none;
	color: var(--text-color);
	font-family: "Stack Sans Text";
	letter-spacing: 0.5px;
}

.navbar-links li {
	display: inline;
	padding-left: 1em;
	font-size:0.8rem;
}

.hover {
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFF;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-out;
}

.hover:hover::before {
  transform: scaleX(1);
}

.toggle-button {
	position: absolute;
	right: 2rem;
	top: 2rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: #FFF;
	border-radius: 10px;
}

.separator {
	width: 70px;
	height: 3px;
	background-color: #fff;
	margin: 20px 0;
}

.separator2 {
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity:0.1;
	margin: 20px 0;
}

/* pricing */
.pricing {
	grid-area: "price";
    width: 80%;
    margin: 0rem auto 8rem;
    display: grid;
}

.pricing h1 {
	margin-top: 8rem;
	text-align: center;
}

.categories {
	margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
	gap: 2rem;
}

.column {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 300px;
	background-color: var(--primary-opacity);
	border-radius: 3px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.column li {
	margin-left: 20px;
	text-decoration: none;
	color: var(--text-color);
	font-family: "Stack Sans Text";
	letter-spacing: 0.5px;
}

.inner-list {
	margin-left: 20px;
}

.column p {
	text-align: right;
	font-size: 0.8rem;
}

.text-price {
	font-size:1.5rem;
	margin-left:3px
}

/* footer */
.footer {
	width: 100%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:20px;
	padding: 3em 10em;
	justify-content: center;
	background-color: var(--primary-color);
}

.footer h2 {
	text-align: left;
	font-size: 1rem;
	letter-spacing:2.5px;
}

.footer p {
	font-size:0.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer-links ul {
	list-style-type: none;
	gap: 0 2em;
}

.footer-links a {
	text-decoration: none;
	color: var(--text-color);
	font-family: "Stack Sans Text";
	letter-spacing: 0.5px;
}

.footer-links li {
	padding-top: 0.4em;
	font-size: 0.7rem;
}

.footer-break {
	margin-top:20px;
	grid-column-start: 1;
	grid-column-end: 4;
	width: 100%;
	height: 1px;
	background-color: #333333;
}

.footer-copyright {
	grid-column-start: 1;
	grid-column-end: 4;
	font-size: 0.5rem;
	color: #555;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Stack Sans Text";
}

.hover-f {
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.hover-f::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFF;
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-out;
}

.hover-f:hover::before {
  transform: scaleX(1);
}



@media (max-width: 500px) {
	.grid-container {
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		"nav"
		"price"
		"foot";
		gap:0;
		justify-items: center;
		background-image: url(../images/bg.png);
		background-repeat: no-repeat; /* Prevents the image from tiling */
  		background-size: cover; /* Ensures the image covers the entire background */
  		background-position: center; /* Centers the image */
  		background-attachment: fixed;
	}

    nav {
		padding: 2em;
        align-items: center;
    }
	
	.brand {
		font-size: 1.3rem;
	}

    .toggle-button {
        display: flex;
    }

	.navbar-links {
		position: fixed;
		top: 5em;
		right: 2em;
        display: none;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: right;
    }

    .navbar-links ul li a {
        padding: 0rem 0rem 0.6rem;
    }

    .navbar-links.active {
        display: flex;
    }

	.hover::before {
 	    bottom: 4px;
	}

	.header-text {
	    margin-top:40%;
	}

	.pricing {
		width:100%;
		padding: 0rem 3rem;
	}

	.pricing {
		grid-area: "price";
    	width: 80%;
    	margin: 0rem auto 3rem;
    	display: grid;
	}

	.pricing h1 {
		margin-top: 3rem;
		text-align: center;
	}

	.categories {
    	display: flex;
    	flex-direction: column;
		justify-content: space-between;
	}

    .footer {
	    display:grid;
	    grid-template-columns: 1fr 1fr 1fr;
	    gap:20px;
	    padding: 2rem;
}
}
